<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin interface</title>

    </head>
    <body>
         <H1>Add Post</H1>
         <form action="_admin" method="post"><br>
         <H2>Title:</H2>
         <input type="text" name="title" ><br>
         <H2>Content</H2>
          <textarea name="content" rows="30" cols="80">
           </textarea> <br>
           <input type="submit" value="Submit">
         </form>
         <a href="/">Back to the blog</a>
         
    </body>
</html>
